name: TAG DEPLOYMENT WORKFLOW
on:
  push:
    tags:
      - 'v*..'
  workflow_dispatch:
jobs:
  deploy-snowflake-changes-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log trigger details
        run: |
          echo "Event: ${{ github.event_name }}"
          echo "Ref: ${{ github.ref }}"
          echo "Commit SHA: ${{ github.sha }}"
          git diff --name-only HEAD^ HEAD || echo "No diff available"
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Run schemachange
        env:
          SF_ACCOUNT: ${{ secrets.SF_ACCOUNT }}
          SF_USERNAME: ${{ secrets.SF_USERNAME }}
          SF_ROLE: ${{ secrets.SF_ROLE }}
          SF_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
          SF_DATABASE: ${{ secrets.SF_DATABASE }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SF_PASSWORD }}
        run: |
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
          python --version
          pip install schemachange
          schemachange -f $GITHUB_WORKSPACE/SNOWFLAKE -a $SF_ACCOUNT -u $SF_USERNAME -r $SF_ROLE -w $SF_WAREHOUSE -d $SF_DATABASE -c $SF_DATABASE.SCHEMACHANGE.CHANGE_HISTORY --create-change-history-table
